<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TALLER-JESUITAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="">Inicio </a>
        <a class="nav-item nav-link" href="calendario">Calendario</a>
        <a class="nav-item nav-link" href="alumnos">Alumnos</a>
        <a class="nav-item nav-link" href="profesores">Profesores</a>
        <a class="nav-item nav-link active" href="inventario">Inventario<span class="sr-only">(Actual)</span></a>
        <a class="nav-item nav-link" href="prestamos">Préstamos</a>
        <a class="nav-item nav-link" href="incidencias">Incidencias</a>
      </div>
    </div>
</nav>
<p>inventario works!</p>
